<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levels</key>
	<dict>
		<key>1</key>
		<dict>
			<key>waves</key>
			<dict>
				<key>2.0</key>
				<dict>
					<key>type</key>
					<string>heli</string>
					<key>powerup</key>
					<false/>
					<key>initParms</key>
					<array>
						<dict>
							<key>direction</key>
							<string>right</string>
							<key>startT</key>
							<integer>0</integer>
							<key>startY</key>
							<real>0.95</real>
							<key>startX</key>
							<real>0</real>
						</dict>
						<dict>
							<key>direction</key>
							<string>right</string>
							<key>startT</key>
							<integer>0</integer>
							<key>startY</key>
							<real>0.95</real>
							<key>startX</key>
							<real>0.2</real>
						</dict>
					</array>
				</dict>
				<key>5.0</key>
				<dict>
					<key>type</key>
					<string>heli</string>
					<key>powerup</key>
					<false/>
					<key>initParms</key>
					<array>
						<dict>
							<key>direction</key>
							<string>left</string>
							<key>startT</key>
							<integer>0</integer>
							<key>startY</key>
							<real>0.95</real>
							<key>startX</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>direction</key>
							<string>left</string>
							<key>startT</key>
							<integer>0</integer>
							<key>startY</key>
							<real>0.95</real>
							<key>startX</key>
							<real>0.8</real>
						</dict>
						<dict>
							<key>direction</key>
							<string>left</string>
							<key>startT</key>
							<integer>0</integer>
							<key>startY</key>
							<real>0.95</real>
							<key>startX</key>
							<real>0.6</real>
						</dict>
					</array>
				</dict>
				<key>8.0</key>
				<dict>
					<key>type</key>
					<string>heli</string>
					<key>powerup</key>
					<false/>
					<key>initParms</key>
					<array>
						<dict>
							<key>direction</key>
							<string>right</string>
							<key>startT</key>
							<integer>0</integer>
							<key>startY</key>
							<real>0.95</real>
							<key>startX</key>
							<real>0</real>
						</dict>
						<dict>
							<key>direction</key>
							<string>right</string>
							<key>startT</key>
							<integer>0</integer>
							<key>startY</key>
							<real>0.95</real>
							<key>startX</key>
							<real>0.2</real>
						</dict>
					</array>
				</dict>
			</dict>
			<key>boss</key>
			<dict>
				<key>type</key>
				<string>bfp5000</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
